$ratio-banner-ratio: 60% !default;
$ratio-banner-vertical-align: middle !default;
$ratio-banner-min-height: 300px !default;
$ratio-banner-max-height: 500px !default;

$ratio-banner-body-gutter: 40px !default;

$ratio-banner-wrapper-max-width: 960px !default;
$ratio-banner-wrapper-gutter: 20px !default;